header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

i {
    color: $secondary-light;
}

.header-icons a:hover {
    i {
        animation: translateY 0.8s infinite alternate;
        color: $primary-dark;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-8px) scale(1.1);
    }
}

.header-button {
    border: 1px solid $secondary-light;
    padding: 8px 24px;
    border-radius: 4px;
    color: $secondary-light;
    background-color: transparent;
    transition: background-color 0,8s;
}

.header-button:hover {
    border: 1px solid $primary-dark;
    background-color: $primary-dark;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 768px) {
    .header-content {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        i {
            margin-top: 16px;
            font-size: 34px;
        }
    }

    .header-logo img {
        margin-top: 46px;
    }

    .header-button {
        display: none;
    }
}
